obj/Debug/net7.0/apphost
obj/Debug/net7.0/console-fundamentals-again.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/console-fundamentals-again.csproj.FileListAbsolute.txt
obj/Debug/net7.0/console-fundamentals-again.dll
obj/Debug/net7.0/console-fundamentals-again.genruntimeconfig.cache
obj/Debug/net7.0/console-fundamentals-again.pdb
obj/Debug/net7.0/ref/console-fundamentals-again.dll
obj/Debug/net7.0/refint/console-fundamentals-again.dll
bin/Debug/net7.0/console-fundamentals-again
bin/Debug/net7.0/console-fundamentals-again.deps.json
bin/Debug/net7.0/console-fundamentals-again.dll
bin/Debug/net7.0/console-fundamentals-again.pdb
bin/Debug/net7.0/console-fundamentals-again.runtimeconfig.json
